@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

header#navigation {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:70px;
	background:#2196f3;
	z-index:10;
	border-bottom:solid #fff 3px;
}

header#navigation h1#header-title{
	float:left;
	text-align:left;
	font-family: 'Montserrat', sans-serif;
	font-size:40px;
	padding:5px;
	line-height:60px;
	cursor:pointer;
}

header#navigation nav ul#nav-program li{
	font-family: 'Montserrat', sans-serif;
}

header#navigation nav ul#nav-program li:hover, header#navigation nav ul#nav-program li.active{
	background:#0277bd;
	cursor:pointer;
	animation:navigation-hover 0.5s;
	-moz-animation:navigation-hover 0.5s;
	-webkit-animation:navigation-hover 0.5s;
	-o-animation:navigation-hover 0.5s;
}
@keyframes navigation-hover {
    0% {background-color: #2196f3;}
    100% {background-color: #0277bd;}
}
@-moz-keyframes navigation-hover {
    0% {background-color: #2196f3;}
    100% {background-color: #0277bd;}
}
@-webkit-keyframes navigation-hover {
    0% {background-color: #2196f3;}
    100% {background-color: #0277bd;}
}
@-o-keyframes navigation-hover {
    0% {background-color: #2196f3;}
    100% {background-color: #0277bd;}
}

header#navigation div#block-window{
	width:100%;
	height:600px;
	background:#000;
	opacity:0.4;
	position:absolute;
	top:70px;
	left:0;
	display:none;
}

header#navigation nav .btn{
  display: block;
  position: absolute;
  right:10px;
  top:16px;
  float:right;
  overflow: hidden;
  width: 35px;
  height: 35px;
  background:#2196f3;
  border: none;
  cursor: pointer;
  -webkit-transition: background .3s;
  transition: background .3s;
}

header#navigation nav .line{
  display: block;
  position: absolute;
  top: 7px;
  left: 8px;
  right: 8px;
  width: 55%;
  height: 4px;
  background: white;
}
header#navigation nav .line::after, header#navigation nav .line::before{
  position: absolute;
  display: block;
  left: 0;
  height: 4px;
  background-color: white;
  content: "";
  width: 100%;
}
header#navigation nav .line::after{
  top:8px;
}
header#navigation nav .line::before{
  top:16px;
}

header#navigation nav .btn:hover{
  background:#0277bd;
  -ms-transition: background ease 0.2s; /* IE 9 */
  -webkit-transition: background ease 0.2s; /* Chrome, Safari, Opera */
  -moz-transition: background ease 0.2s;
}


/*	BODY	*/
body{
	background:#303030;
	color:#fff;
	text-align:center;}

div.block-info{
	padding:20px;
	padding-top:100px;
	font-family: 'Montserrat', sans-serif;
	min-height:350px;}

div#block-1{
	padding-top:20px;
}

div#block-1 h1#title{
	font-size:80px;
	line-height:280px;
}

div#block-1 div#tema{
	font-size:20px;
	font-style:italic;
	margin-top:100px;
	line-height:100px;
}

div#block-1 div#quick-button ul{
		list-style-type:none;
		margin:0;
		padding:0;}
div#block-1 div#quick-button ul li{
		padding:5px;
		margin:-2.5px;
		cursor:pointer;
		display:inline-block;
		width:160px;
		align-content:center;
		border:2px solid #fff;}

div#block-1 div#quick-button ul li#goto-lf{
	border-right-width:1px;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	-moz-border-top-left-radius:20px;
	-moz-border-bottom-left-radius:20px;
	-webkit-border-top-left-radius:20px;
	-webkit-border-bottom-left-radius:20px;}

div#block-1 div#quick-button ul li#goto-programming{
	border-left-width:1px;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	-moz-border-top-right-radius:20px;
	-moz-border-bottom-right-radius:20px;
	-webkit-border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;}

div#block-1 div#quick-button ul li#goto-lf:hover, div#block-1 div#quick-button ul li#goto-programming:hover{
	animation: quick-button-hover 0.5s;
	-webkit-animation: quick-button-hover 0.5s;
	-moz-animation: quick-button-hover 0.5s;
	-o-animation: quick-button-hover 0.5s;
	background-color: #fff;
	color:#2196f3;}

@keyframes quick-button-hover {
    0% {background-color: #2196f3;color:#fff;}
    100% {background-color: #fff;color:#2196f3;}
}
@-webkit-keyframes quick-button-hover {
    0% {background-color: #2196f3;color:#fff;}
    100% {background-color: #fff;color:#2196f3;}
}
@-moz-keyframes quick-button-hover {
    0% {background-color: #2196f3;color:#fff;}
    100% {background-color: #fff;color:#2196f3;}
}
@-o-keyframes quick-button-hover {
    0% {background-color: #2196f3;color:#fff;}
    100% {background-color: #fff;color:#2196f3;}
}



div#block-1, div#block-3, div#block-5{
	background:#2196f3;
}

div.block-info span.program-title, div.block-info span.block-title{
	font-size:40px;
}

div.block-info div#summary{
	margin-top:20px;
}

/*	FOOTER	*/
footer{
	position:absolute;
	color:#fff;
	width:100%;
	height:50px;
	font-family: 'Montserrat', sans-serif;
}

footer span#copy{
	line-height:50px;}
	
footer span#copy span#author:hover{
	text-decoration:underline;
	cursor:pointer;
}
	
footer div#top-button{
	position:absolute;
	top:0px;
	right:30px;	
	line-height:50px;
	cursor:pointer;
}