@media screen and (min-width: 768px) {

	div.block-info{
		min-height:630px;
	}

	header#navigation nav{
		float:right;
	}

	header#navigation nav .btn{
	  display: none;
	}

	header#navigation div#block-window{
		display:none;
	}
	
	header#navigation nav ul#nav-program{
		list-style-type:none;
		display:block;
		position:absolute;
		right:0px;
		top:0px;
	}
	
	header#navigation nav ul#nav-program li{
		float:left;
	}
}


@media screen and (max-width: 767px) {

	div.block-info{
		min-height:700px;
	}
	
	header#navigation nav{
		float:right;
	}

	header#navigation nav ul#nav-program{
		position:absolute;
		right:0px;
		display:none;
		list-style-type:none;
		top:70px;
		z-index:10;
	}
	
	header#navigation nav ul#nav-program li{
		text-align:right;
	}

	div#block-1 div#quick-button ul li{
		width:110px;}
}