@media screen and (min-width: 768px) {

	div.block-info{
		min-height:630px;
	}

	header#navigation nav{
		float:right;
	}

	header#navigation nav ul#nav-program{
		list-style-type:none;
	}
	
	header#navigation nav ul#nav-program li{
		float:left;
	}
}


@media screen and (max-width: 767px) {

	div.block-info{
		min-height:700px;
	}
	
	header#navigation nav{
		float:right;
	}

	header#navigation nav ul#nav-program{
		list-style-type:none;
	}
	
	header#navigation nav ul#nav-program li{
		text-align:right;
	}

}