@media screen and (min-width: 768px) {

	div.block-info{
		min-height:630px;
	}

	header#navigation nav{
		float:right;
	}

	header#navigation nav .btn{
	  display: none;
	}

	header#navigation div#block-window{
		display:none;
	}
	
	header#navigation nav ul#nav-program{
		list-style-type:none;
		display:block;
		position:absolute;
		right:0px;
		top:0px;
	}
	
	header#navigation nav ul#nav-program li{
		float:left;
		height:100%;
		padding:10px;
		line-height:50px;
	}
	
	div#block-2, div#block-3,div#block-4,div#block-5{
		padding-top:180px;
		padding-left:180px;
		padding-right:180px;
		text-align:justify;
	}

}


@media screen and (max-width: 767px) {

	div.block-info{
		min-height:700px;
	}
	
	header#navigation nav{
		float:right;
	}

	header#navigation nav ul#nav-program{
		position:absolute;
		right:0px;
		display:none;
		list-style-type:none;
		top:70px;
		z-index:10;
		overflow:auto;
	}
	
	header#navigation nav ul#nav-program li{
		text-align:right;
		height:40px;
		width:150px;
		padding:4px;
		line-height:40px;
		padding-right:10px;
	}

	div#block-1 div#quick-button ul li{
		width:110px;}

	div#block-1 h1#title{
		line-height:200px;
	}

	div#block-1 div#tema{
		line-height:40px;
		margin-bottom: 60px;
	}

	div#block-2, div#block-3,div#block-4,div#block-5,div#block-6{
		padding-top:90px;
		padding-left:20px;
		padding-right:20px;
		text-align:justify;
	}		
		
	div.block-info span.program-title, div.block-info span.block-title{
		font-size:30px;
	}
	
	div.block-info div#summary{
		margin-top:20px;
		font-size:14px;
	}
	div.contact-wrapper{
		font-size:12px;}
	div.contact-wrapper span#title{
		width:50px;
		float:left;
	}

}